.profile {
  box-sizing: border-box;
  margin: auto;
  max-width: 900px;
  margin-top: 2rem;
  .info-img {
    display: grid;
    grid-template-columns: 1fr 2fr;
    img {
      justify-self: center;
      border-radius: 100%;
      width: 60%;
      //   height: 150px;
    }
    .info {
      .row1 {
        display: flex;
        align-items: center;
        .name {
          font-size: 28px;
          font-weight: 100;
          margin-right: 1rem;
        }
        button {
          color: #fff;
          line-height: 18px;
          background-color: transparent;
          border: 1px solid #888;
          padding: 5px 9px;
          font-size: 14px;
          font-weight: 500;
          border-radius: 5px;
        }
        i {
          font-size: 28px;
          margin-left: 1rem;
        }
      }
      .row2 {
        display: flex;
        margin: 1rem 0;
        p {
          margin-right: 40px;
          text-align: center;
        }
      }
      .row4 {
        p {
          line-height: 24px;
        }
      }
    }
  }
  .chr {
    border-top: 1px solid #555;
    margin: 1.5rem 0;
  }
  .grid-img {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    .img-dev {
      box-sizing: border-box;
      text-align: right;
      padding: 7px;
      height: 284px;
      background-position: center;
      background-size: cover;
      i {
        opacity: 0.8;
      }
    }
  }
}
@media only screen and (max-width: 900px) {
  .grid-img {
    background-color: violet;
    grid-gap: 0px !important;
    .img-dev {
      height: 33vw !important;
    }
  }
}
